#copyButton, #helpMessage, #openUserGuideButton {
    -fx-text-fill: white;
}

#copyButton, #openUserGuideButton {
    -fx-background-color: dimgray;
}

#copyButton:hover, #openUserGuideButton:hover {
    -fx-background-color: gray;
}

#copyButton:armed, #openUserGuideButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}
