#mainContainer {
    -fx-background-color: derive(#090C0F, 20%);
}

.scroll-pane {
    -fx-background-color: derive(#090C0F, 20%);
}

.scroll-pane .viewport {
    -fx-background-color: derive(#090C0F, 20%);
}

.scroll-pane .content {
    -fx-background-color: derive(#090C0F, 20%);
}

.scroll-pane .thumb {
    -fx-background-color: derive(#090C0F, 50%);
    -fx-background-insets: 3;
}

.scroll-pane .increment-button, .scroll-pane .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-pane .increment-arrow, .scroll-pane .decrement-arrow {
    -fx-shape: " ";
}

#helpMessage, #userGuideLabel {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 10pt;
    -fx-text-fill: white;
}

#copyButton, #openUserGuideButton {
    -fx-text-fill: white;
    -fx-background-color: derive(#090C0F, 50%);
}

#copyButton:hover, #openUserGuideButton:hover {
    -fx-background-color: derive(#090C0F, 70%);
}

#copyButton:armed, #openUserGuideButton:armed {
    -fx-background-color: derive(#090C0F, 90%);
}

#helpMessageContainer {
    -fx-background-color: derive(#090C0F, 20%);
}
